<app-header titulo="Generar Asistencia "></app-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>profesor a cargo wacoldo</ion-card-subtitle>
      <ion-card-title>QR Actual </ion-card-title>
    </ion-card-header>
    <ion-img src="/assets/icon/cursos/qr.png"></ion-img>
    <ion-card-content>
      Codigo de asistencia Hora de inicio hh/mm/ss 
      Hora de expiración hh/mm/ss generado el dd/mm/aa
    </ion-card-content>
    <ion-button expand="block">Generar QR</ion-button>
  </ion-card>


  <ion-list-header class="ion-text-center ion-padding">
    <ion-label>Registro de clases QR</ion-label>
  </ion-list-header>
  <ion-card>
  <ion-grid fixed class="ion-padding">
    <ion-row>
      <ion-col size="6">Fecha</ion-col>
      <ion-col size="6"> estado</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">Jueves, 11 de agosto de 2022 - 10:45hrs</ion-col>
      <ion-col size="6"><ion-icon name="checkmark-done-outline" color="duocb"></ion-icon>  Lograda</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">Viernes, 12 de agosto de 2022</ion-col>
      <ion-col size="6" ><ion-icon name="close-outline" color="danger"></ion-icon>  Canselada</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">Jueves, 25 de agosto de 2022 - 10:30hrs</ion-col>
      <ion-col size="6"><ion-icon name="checkmark-done-outline" color="duocb"></ion-icon>  Lograda</ion-col>
    </ion-row>
    
  </ion-grid>

    
  </ion-card>
  
</ion-content>
