<ion-header>
  <ion-toolbar color="duocb">
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title class="ion-text-center">Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="frmRecuperar"> 
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input required formControlName="usuario" type="text"></ion-input>
    </ion-item>
    <!-- <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input required formControlName="email" type="email"></ion-input>
    </ion-item> -->
    <br>
    <ion-button expand="full" *ngIf="hasAccount" block color="duocy"  [disabled]="frmRecuperar.invalid" (click)="checkAccount()">
      correo
    </ion-button>
    <ion-button expand="full" block color="duocy" type="submit" [disabled]="frmRecuperar.invalid" (click)="openEmail()">
      Recuperar
    </ion-button>
    
  </form>

</ion-content>
