<ion-header>
  <ion-toolbar color="duocb">
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title class="ion-text-center">Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="frmRecuperar"> 
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input required formControlName="usuario" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">new password</ion-label>
      <ion-input required formControlName="usuario" type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">new password</ion-label>
      <ion-input required formControlName="usuario" type="password"></ion-input>
    </ion-item>
    <br>
    <ion-button block color="duocy" type="submit" [disabled]="frmRecuperar.invalid" [routerLink]="['/login']">
      Recuperar
    </ion-button>
  </form>

</ion-content>
