<ion-app>
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="duocb">
        <ion-title>Menu</ion-title>
        <ion-icon slot="end" name="close" size="large" class="ion-padding" (click)="cerrarMenu()"></ion-icon>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item  detail routerLink="/home" (click)="cerrarMenu()" >
          <ion-icon slot="start" name="home-outline"></ion-icon>
          Inicio
        </ion-item> 
        <ion-item detail routerLink="/cursos" (click)="cerrarMenu()" id="cursos" *ngIf="tipo?.tipo=='alumno'">
          <ion-icon slot="start" name="library-outline"></ion-icon>
          Cursos
        </ion-item>
        <ion-item detail routerLink="/scan" (click)="cerrarMenu()" id="scan" *ngIf="tipo?.tipo=='alumno'">
          <ion-icon slot="start" name="id-card-outline"></ion-icon>
          Scan
        </ion-item>
        <ion-item detail routerLink="/listas" (click)="cerrarMenu()" id="listas">
          <ion-icon slot="start" name="list-outline"></ion-icon>
          Listas
        </ion-item>
        <ion-item detail routerLink="/asignatura" (click)="cerrarMenu()" id="asignaturas" *ngIf="tipo?.tipo =='profesor'">
          <ion-icon slot="start" name="albums-outline"></ion-icon>
          asignatura
        </ion-item>
       
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>

