<app-header titulo="Asistencia"></app-header>

<ion-content>
  <ion-list-header class="ion-text-center ion-padding">
    <ion-label>Registro de asistencia</ion-label>
  </ion-list-header>
  <ion-card>
  <ion-grid fixed class="ion-padding">
    <ion-row>
      <ion-col size="6">Fecha</ion-col>
      <ion-col size="6">  Asistencia</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">Jueves, 11 de agosto de 2022 - 10:45hrs</ion-col>
      <ion-col size="6"><ion-icon name="checkmark-done-outline" color="duocb"></ion-icon>  Presente</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">Viernes, 12 de agosto de 2022</ion-col>
      <ion-col size="6" ><ion-icon name="close-outline" color="danger"></ion-icon>  Ausente</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">Jueves, 25 de agosto de 2022 - 10:30hrs</ion-col>
      <ion-col size="6"><ion-icon name="checkmark-done-outline" color="duocb"></ion-icon>  Presente</ion-col>
    </ion-row>
  </ion-grid>

    
  </ion-card>
  
</ion-content>
